<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="https://images.techhive.com/images/article/2014/08/twitch-logo-100368820-large.jpg">
</div>
<br>
<div style="text-align:center">
  <h2>Please Enter a Twitch VOD link below: </h2>
  <form>
      <input name="vodinput"><button name="vodinputbutton" type="submit" value="Submit">Submit</button>
  </form>
</div>
<router-outlet></router-outlet>
