<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ChatLogPrefix" value ="https://overrustlelogs.net/Riotgames%20chatlog/"/>
    <add key="RootPath" value="C:\Users\patin_000\Source\Repos\DSP\"/>
    <add key="TwitchVodsPath" value="C:\Twitch VODs\"/>

    <!-- SQL connection string -->
    <add key="MySqlConnection" value="server=localhost;user id=root; password=Pokemon00;persistsecurityinfo=True;database=dsp"/>

    <!-- Python Video Filter Script Parameters -->
    <add key="FilterTemplatePath" value="G:\Twitch VODs\template.png"/>
    <add key="FilterThreshold" value="0.9"/>
    <add key="StartingFrame" value="1"/>
    <add key="FramesToSkip" value="15"/>
    <add key="ConvertToGreyscale" value="False"/>
    <add key="SecondsUntilTimeout" value="120"/>
    <add key="SecondsMinimumMatchLength" value="600"/>

  </appSettings>
</configuration>