<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ChatLogPrefix" value ="https://overrustlelogs.net/Riotgames%20chatlog/"/>
    <add key="RootPath" value="C:\Users\patin_000\Source\Repos\DSP\"/>
    <add key="TwitchVodsPath" value="C:\Twitch VODs"/>
    <add key="FilterVideoOutputPath" value="C:\Twitch VODs\filterOutput"/>
  </appSettings>
</configuration>